/** info pengiriman css **/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

p, a, button, label, button, input, optgroup, select, textarea, div {
  font-family: "Poppins", sans-serif !important;
}

a {
  text-decoration: none !important;
}

p {
  margin-bottom: 0 !important;
}

.navi ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

header {
  height: 4rem;
  width: 100%;
  background-color: #BBE1FA;
  color: #0F4C75;
  position :fixed;
  top: 0;
  z-index: 10;
  border-radius: 0 0 16px 16px;
}

.header img {
  margin: 10px 0 10px 25px;
  padding: 0 25px;
  display: block;
  float: left;
  height: 2.5rem;
}

.navi {
  float: right;
}

.navi a {
  line-height: 4rem;
  padding: 0 15px !important;
  display: block;
  float: left;
  color: #0F4C75;  
  transition: all 0.5s;
}

.navi a:hover {
  background-color: #0F4C75;
  color: #BBE1FA;
}

.masuk {
  margin-right: 35px;
}

.burgermenu {
    display: none;
}

.modal-open, .show {
  padding-right: 0px !important;
}

.modal, .modal-footer a, .modal-body a {
  color: #0f4c75 !important;
}

.modal-title {
  font-family: 'Poppins', sans-serif !important;
  font-weight: bold !important;
}

.modal-footer{
  justify-content: flex-start !important;
}

.btn-primary {
  color: #bbe1fa !important;
  background-color: #0f4c75 !important;
  border-color: #0f4c75 !important;
}

.btn-secondary {
  color: #bbe1fa !important;
}

.klik {
  text-decoration: underline;
}

.form-check-input:checked {
  background-color: #0f4c75 !important;
  border-color: #0f4c75 !important;
}

.main {
    background-color: #f3f3f3;
    color: #0F4C75;
    margin-top: 3rem;
    padding: 100px 300px;
}

.main h1{
    text-align: center;
    font-family: "Pacifico", cursive;
    margin-bottom: 25px;
}

.main h5 {
    text-align: center;
}

.main-content {
  margin-top: 50px;
  display: flex;
}

.main-group {
  width: 50%;
}

.main-content p {
    padding-bottom: 5px;
}

.main-content h5 {
    text-align: unset;
    font-weight: bold;
    padding-bottom: 20px;
}

.main-content button {
    justify-content: center;
    align-items: center;
    display: block;
    margin: 0 auto;
}

.button-center {
  margin: 0 35%;;
}

.detail-buku {
  padding-bottom: 10px !important;
}
  
footer {
  background-color: #0f4c75;
  color: #bbe1fa;
  padding: 25px;
  display: flex;
}
footer p {
  text-align: center;
  width: 50%;
  justify-content: center;
  align-items: center;
}